<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager - Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/styles.css" />
    
    <!-- font-awesme Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   
</head>
<body class="cart-body">
    <div class="row">
        <!-- A toggled Vertivle navbar to the left of the page. -->
        <div id="left-nav" class="left-nav-bar">
            <a href="#" onclick="closeSideNav()">&times;</a>
            <a href="mysales.html"><i class="fas fa-money-check-alt"></i>My sales</a>
            <a href="userproducts.html"><i class="fas fa-stream"></i>Products</a>
            <a href="#"><i class="fas fa-table"></i>Categories</a>
            <a href="#"><i class="fas fa-cogs"></i>settings</a>
            

        </div>
        <div id="main" class="main">
            <!-- the left part of the cart that contains the Items and menus -->
            <div class="cart-main">
                <nav class="cart-top-nav">
    
                    <!-- 1. toggle BurgerBurger floated to the left-->
                    <i class="fas fa-bars" onclick="openSideBar()"></i>
                    <!-- 2. Logged in user name and Image floated to the right -->
                    <span class="logged-in-user">
                        <p id="user-name" class="user-name logged-user-item">Shark Ogeto</p>
                        <div class="img-rounded logged-user-item">
                            <img src="../static/images/pos img.png" alt="user">
                        </div>
                        <a href="index.html"><i class="fas fa-sign-out-alt"></i></a>
                    </span>
                    
                </nav>
    
                <!-- list of items in the inventory -->
                <div class="cart-inventory">
                    <!-- displays options to manipulate inventory items -->
                    <div class="cart-inventory-nav">
                        <!-- 1. Search bar --><!-- 2. Categories Buttons -->
                        <ul class="">
                            <li class="">Foods</li>
                            <li class="">Cloths</li>
                            <li class="">Electronics</li>
                            <li class="">shoes</li>
                            <li class="">Fashion</li>
                        </ul>
                        <div class="row row-search-bar">
                            <form class="form-cart-search" action="#">
                                <input type="text" onkeyup="searchInventory()" id="search-box" placeholder="Search">
                            </form>
                        </div>
                        <!-- 2. Categories Buttons -->
                        <!-- <ul class="">
                            <li class="">Foods</li>
                            <li class="">Cloths</li>
                            <li class="">Electronics</li>
                            <li class="">shoes</li>
                            <li class="">Fashion</li>
                        </ul> -->
                    </div>
    
                    <!-- list of all the items in the inventory for sale -->
                    <div class="cart-inventory-items" id="cart-inventory-items">
                     
                     
                    </div>
                </div>
    
            </div>
    
            <!-- right part of the cart window that contains the items in the cart -->
            <div class="cart-items-container">
                <div class="cart-items-top-bar">
                    <img src="../static/images/Store manager.png" alt="Sales">
                    <span id="message"></span>
                </div>
                <hr>
    
                <!-- List of cart items -->
                <div class="cart-list-of-items" id="cart-list-of-items">
                    
                    <div class="cart-added-items" id="cart-added-items">
    
                    </div>
                </div>
    
                <!-- payment details -->
                <div class="cart-items-payment">
                    <div class="payment-conts">
                        <h3 class="total">No. of Items</h3> <h1 id="cart-items-num">0</h1>
                    </div>
                    <div class="divider"></div>
                    <div class="payment-conts">
                        <h3 class="total">Total</h3> 
                        <h1 id="total-display"> Ksh 0.00/=</h1>
                    </div>
                    <button id="checkout" onclick="saleOrder()" class="btn btn-orange">Payment</button>

                </div>
            </div>
        </div>
    </div>



    <!-- scripts -->
    <script src="../static/js/sales.js"></script>
    <script src="../static/js/main.js"></script> 

    <script>window.onload = loadProducts();</script>
    
</body>
</html>