<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
    
    <!-- font-awesme Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="js/main.js"></script>

</head>
<body class="products-body">
        <nav class="cart-top-nav">
    
                <!-- 1. toggle BurgerBurger floated to the left-->
                <i class="fas fa-bars" onclick="openSideBar()"></i>
                <!-- 2. Logged in user name and Image floated to the right -->
                <span class="logged-in-user">
                    <p id="user-name" class="user-name logged-user-item">Administrator</p>
                    <div class="img-rounded logged-user-item">
                        <img src="images/pos img.png" alt="user">
                    </div>
                    <a href="index.html"><i class="fas fa-sign-out-alt"></i></a>
                </span>
                
            </nav>
    <!-- A toggled Vertivle navbar to the left of the page. -->
    <div id="left-nav" class="left-nav-bar">
            <a href="#" onclick="closeSideNav()">&times;</a>
            <a href="adminsales.html"><i class="fas fa-money-check-alt"></i>View sales</a>
            <a href="products.html"><i class="fas fa-stream"></i>Products</a>
            <a href="addproduct.html"><i class="fas fa-plus-circle"></i>Add Product</a>
            <a href="register.html"><i class="fas fa-user"></i>Add User</a>
            <a href="dashboard.html"><i class="fas fa-cogs"></i>Dashboard</a>
            

    </div>

    


    <div class="main" id="main">
        <div class="title-section">
            <h1><span class="orange">Edit </span>Product<small>(Administrator)</small></h1>
        </div>
        <div class="sub-title"><h3>Create a product below</h3></div>

        <div class="create-product padding-lr-40">
            <form action="#" method="post">
                <label for="pname">Product name</label>
                <input type="text" name="pname " id="pname" value="Samsung wonder Home 56' display ">

                <div class="frm-half">
                        <label for="Number">Number of Items</label>
                        <input type="text" name="Number" id="Number" value="23">
                </div>

                <div class="frm-half">
                        <label for="price">Price</label>
                        <input type="text" name="price" id="price" value="Ksh 60,000">
                </div>
                <label for="image">Upload Image</label>
                <input type="file" name="image" id="image">
                <br>
                 
                <label for="description">Add product description</label>
                <textarea name="description" id="description" cols="30" rows="10">

                        Made In Taiwan, the Sper curved 72' display comes with epic luxury and quality. It has a seven months warranty and an Insurance
                        </textarea>
                <input class="btn btn-blue" type="submit" value="Update Product">
            </form>
        </div>

      
    </div>
</body>
</html>