<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View all Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/styles.css" />
    
    <!-- font-awesme Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/products.js"></script>
    <script src="../static/js/routes.js"></script>
    <script>window.onload = getProducts();</script>

</head>
<body class="products-body">
        <nav class="cart-top-nav">
    
                <!-- 1. toggle BurgerBurger floated to the left-->
                <i class="fas fa-bars" onclick="openSideBar()"></i>
                <!-- 2. Logged in user name and Image floated to the right -->
                <span class="logged-in-user">
                    <p id="user-name" class="user-name logged-user-item">Administrator</p>
                    <div class="img-rounded logged-user-item">
                        <img src="../static/images/pos img.png" alt="user">
                    </div>
                    <a href="index.html"><i class="fas fa-sign-out-alt"></i></a>
                </span>
                
            </nav>
    <!-- A toggled Vertivle navbar to the left of the page. -->
    <div id="left-nav" class="left-nav-bar">
            <a href="#"  onclick="closeSideNav()">&times;</a>
            <a href="#"  onclick="route('adminsales')"><i class="fas fa-money-check-alt"></i>View sales</a>
            <a href="#"  onclick="route('products')"><i class="fas fa-stream"></i>Products</a>
            <a href="#"  onclick="route('addproduct')"><i class="fas fa-plus-circle"></i>Add Product</a>
            <a href="#"  onclick="route('register')"><i class="fas fa-user"></i>Add User</a>
            <a href="#"  onclick="route('dashboard')"><i class="fas fa-cogs"></i>Dashboard</a>
            

    </div>

    <!-- A view to show details of a given product -->
    <div id="product-pane" class="hidden-detail-cont">
        <span class="close"><a onclick="closeProductPane()" href="#">&times;</a></span>
        <div class="detail-image"><img src="../static/images/15tvsamsung.jpg" alt="product"></div>
        <div class="padding-lr-40 detail-name"><h3>Samsung wonder Home 56' display </h3></div>
        
        <div class="padding-lr-40 detail-quantities">
            <h3 class="detail-in-store">In stock: 23</h3>
            <h3 class="detail-price orange">Ksh 60,000</h3>
        </div>
        <div class="detail-desc padding-lr-40">
            <p>Made In Taiwan, the Sper curved 72' display comes with epic luxury and quality. It has a seven months warranty and an Insurance</p>
        </div>
        <div class="padding-lr-40 detail-buttons"><button class="btn btn-blue"><a href="cart.html">Sale Product</a></button>
        <button class="btn">
            <a href="editproduct.html">
                <i class=" text-green fas fa-edit"></i> Edit product
            </a>
        </button>
        <button onclick="confirmDelete()" class=" btn "><i class=" text-red fas fa-trash-alt" onclick="confirmDelete()"></i> Delete</button></div>
    </div>


    <div class="main" id="main">
        <div class="title-section">
            <h1><span class="orange">Products </span>In Store <small>(Administrator)</small></h1>
        </div>
        <div class="sub-title"><h3>All products(20)</h3></div>

        <div class="buttons">
            <ul>
                <li class=" btn btn-blue" onclick="route('addproduct')"><i class="fas fa-plus-circle"></i> Add Product</li>
                <li class="btn "><i class="fas fa-print"></i> Print Products</li>
                <li class="btn "><i class="fas fa-file-export"></i> Export Data</li>
            </ul>
        </div>
        <div class="tbl-products" >
            <table id="tbl-products">
                <thead>
                    <td>#</td>
                    <td>Product Name</td>
                    <td>No. In stock</td>
                    <td>Price</td>
                    <td>view</td>
                    <td>Edit</td>
                    <td>Delete</td>

                </thead>
                <tbody>
                   
                    

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>